#name{
  margin-bottom: 0%;
  width: 100%;
}
#button-div{
  margin-top: 2%;
}
#title{
  font-size: large;
  font-style: italic;
  width: 100%;
  color: crimson;
  font-weight: 600;
}
#darkMode{
  color: red;
  background-color: rgb(0,0,0);
  border-radius: 50%;
  cursor: pointer;
}
#darkMode:hover{
  font-weight: bold;
}
#socials{
  margin-top: 1%;
}
#imgGit{
  width: 70%;
  margin-left: 0%;
  margin-bottom: 2%;
}
#imgLinked{
  width: 80%;
  margin-left: 5%;
  margin-bottom: 0;
}
#imgE{
  width: 90%;
  margin-left: 10%;
  margin-bottom: 0; 
}

#skill{
  margin-top: 5%;
}
#project{
  margin-top: 7%;
  margin-bottom: 7%;
}
#img{
  width: 15%;
  margin-left: 2%;
}
#imgjs{
  width: 15%;
  margin-left: 2%;
  margin-top: 1%;
}
#imgG{
  width: 10%;
  margin-left: 2%;
}
#imgJava{
  width: 9%;
  margin-bottom: 1.5%;
  margin-left: 2%;
}
#imgS{
  width: 15%;
  margin-left: 22%;
}
#imgsql{
  width: 15%;
  margin-left: 3%;
}
#projectImg{
  width: 100%;
  object-fit: contain;
  object-position: center;
}
#projectCardTitle{
  font-weight: bold;
}
#projectCardTech{
  color: gray;
  font-size: 85%;
}
#projectInfo{
  margin-left: 10%;
  font-size: 60%;
  font-weight: lighter;
  width: 80%;
  text-align: center;
}
#projectCard{
  margin-bottom: 5%;
}
#header{
  border-bottom: 1px solid black;
  margin-bottom: 5%;
}